ion-content{
  --background-color: #004cff;

  p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;

  }
}

ion-card{
  position: relative;
  text-align: center;
  border-radius: 15px;
}