<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="disenio">

  <!-- ===== Directiva *ngFor ====== -->

  <ion-card *ngFor="let item of listaTareas;let i= index " class="ion-margin">
    <ion-card-header>
     <ion-label *ngIf="item.id;else noIdLabel"> ID TAREA: {{item.id}}</ion-label>
     <ng-template #noIdLabel>
      <ion-label>No hay ID de tarea</ion-label>
    </ng-template>
      <ion-card-subtitle
        [style.color]="item.prioridad== 'alta' ? 'red' : (item.prioridad === 'baja' ? 'green' : 'orange')">Prioridad:
        {{item.prioridad}}</ion-card-subtitle>
      <ion-item color="gray">
        <ion-icon name="radio-button-on-outline" size="small"></ion-icon>
        <ion-label> {{item.tareas}}</ion-label>
      </ion-item>

    </ion-card-header>
    <ion-card-content>
      <ion-label>Fecha actividad: {{item.fecha}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label><strong> Categoria:</strong>{{item.categoria}}</ion-label>
    </ion-card-content>
    <ion-row>

      <ion-item button (click)="update(item.id)">
        <ion-icon name="checkmark-outLine"></ion-icon>
        <p>Editar</p>
      </ion-item>
      <ion-item button (click)="eliminar(item.id)">
        <ion-icon name="trash-outLine"></ion-icon>
        <p>Eliminar</p>
      </ion-item>
    </ion-row>
  </ion-card>

  <!-- ===== Directiva *ngIf ====== -->

  <ion-card *ngIf="listaTareas.length === 0">
    <ion-item>
      <ion-label>No hay tareas disponibles, agregue tareas!</ion-label>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>